<!DOCTYPE html>
<html>
  <head>
    <title>Insectagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e8df33b102.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Insectagram</h1>
      <div class="header-list">
      <ul>
        <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "新規投稿へ", new_post_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to "マイページへ", user_path(current_user.id) %><li>
        <% end %>
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>Copyright © GeekSalon All Rights Reserved.</p>
    </footer>
  </body>
</html>
